
/*
header {
    background: #2E1811;
    background-image: url("../images/dirt.jpeg");
    background-size: cover;
    padding: 2rem 0;
    color: #fff;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}

*/

html {
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.035rem;
}

header {
  margin: auto;
  text-align: center;
  font-family: Didot, Helvetica;

}

/*
effect is nice, dis-align h1 text on mobile viewport

h1::after {
  content:"me";
  background: red;
  color:white;
  font-size:10px;
  border-radius: 9em;
}
*/


body {
  overscroll-behavior: none; /* disables bounce effect bottom pages*/
  /*
  overflow: hidden;
  overscroll-behavior-y: none;
  */

}

main {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 10px;

}

img {
  width: 100%;
  border-top: 1px dotted silver;
  padding: 1em;
}

ol {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 10px;
  list-style: none;
  counter-reset: steps;
}

ol li {
  counter-increment: steps;
}

ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #ff6f00;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 80%;
  display: inline-grid;
  place-items: center;
  line-height: 1.4em;
  font-size: 1.2em;
}

ol ol li::before {
  background: darkorchid;
}

footer {
  margin-left: 1em;

}


/*

  Some ideas for styles came from this page, they know what they are doing
  https://css-tricks.com/list-style-recipes/

*/
