body {
    max-width:max-content;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    font:2.25rem, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#444; 
    
}
    
    h1,h2,h3{line-height:1.2}
    
    /* Default font size for all devices */
body {
    font-size: 18px;
    
  }
  
  /* Media query for tablets and larger devices */
  @media only screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
  }
  
  /* Media query for small devices like mobile phones */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 22px;
      
    }
  }