body {
    max-width:max-content;
    margin: auto;
    
    font:2.25rem,  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#444; 
    text-align: left;
    
}
    
    h1,h2,h3{line-height:1.2}
    
    /* Default font size for all devices */
body {
    font-size: 1rem;
    
  }
  
  /* Media query for tablets and larger devices */
  @media only screen and (min-width: 768px) {
    body {
      font-size: 1.4rem;
    }
  }
  
  /* Media query for small devices like mobile phones */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 2.2rem;
      
    }
  }